@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --hair-color: #222d4e;
    --hair-color-2: #1c2748;
    /* --skin-color: #ffe2d4; */
    --shirt-color: #f34594;
    --laptop-color: #9999b9;
    --laptop-color-2: #bcbcd4;
    --shirt-color: #f34594;
    --blush-color: #ff9cc9;

    --skin-color: #ffe7e7;
    /* --hair-color: #253c50; */
    /* --hair-color-2: #1c2748; */
    /* --shirt-color: #268dab; */
    /* --laptop-color: #bccbd4; */
    /* --laptop-color-2: #99a9b9; */


    --base-face-width: 100px;
    --base-face-height: 100px;
}

body {
  margin: 0;
  font-family: 'alan sans','work sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
